@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

#todo_body {
    display: flex;
    justify-content: center;
    background-color: #ccc;
}

.todo_container {
    display: flex;
    flex-direction: column;
    border: 5px;
    /* border-radius: 0 25px; */
    margin-top: 20vh;
    margin-bottom: 15vh;
    padding-bottom: 12px;
    background-color: #ccc;
    width: 450px;
    min-height: 150px;
    gap: 16px;
}

.todo-title {
    background-color: #016efc;
    color: white;
    font-family: "Pacifico", cursive;
    font-size: 30px;
    text-align: right;
    padding: 16px 32px 16px 0;
    border-radius: 10px;
    transition: padding-right 0.2s ease-out 1ms;
    cursor: default;
}

.todo-title:hover {
    text-align: center;
    padding-right: 0;
}

.todo-register {
    display: flex;
    justify-content: space-between;
}
.todo-register input[type="text"] {
    border: none;
    border-bottom: 6px solid rgb(122, 122, 122);
    border-radius: 10px;
    font-family: "Pangolin", cursive;
    font-size: 16px;
    width: 320px;
    height: 20px;
    padding: 8px 0 8px 8px;
    margin-left: 5px;
    transition: margin-left 0.5s ease-in-out 1ms;
}
.todo-register input[type="text"]:hover {
    margin-left: 15px;
}
.todo-register input[type="text"]:focus {
    outline: none;
    margin-left: 15px;
    cursor: none;
}

.todo-register button {
    border: none;
    border-radius: 10px;
    background-color: #016efc;
    color: #f0ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 42px;
    transition: width 0.4s ease-in-out 1ms;
}
.todo-register button:hover {
    width: 97px;
    cursor: pointer;
}
.todo-register button:active {
    background-color: #003780;
}

.todo-task_container ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-family: "Pangolin", cursive;
    font-size: 18px;
    font-weight: bold;
}
.todo-task_container ul li:hover {
    border: none;
    background-color: #016efc;
    color: white;
    font-weight: normal;
    cursor: crosshair;
    text-decoration: line-through;
}

.delete {
    width: 24px;
    background-color: #c70000;
    border-radius: 5px;
}
.delete:hover {
    cursor: pointer;
    background-color: #ff0202;
}

.task-done {
    text-decoration: line-through;
    color: crimson;
}
